# MagicView-UVC800 (0edc:3080): 插入自动启动直播, 拔出自动停止
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0edc", ATTR{idProduct}=="3080", TAG+="systemd", ENV{SYSTEMD_WANTS}="camera-stream.service"
ACTION=="remove", SUBSYSTEM=="usb", ENV{PRODUCT}=="edc/3080/*", RUN+="/bin/systemctl stop camera-stream.service"
